
<footer class="bg-dark text-white text-center py-3 mt-auto">
  <div class="container text-center">
    <p class="mb-0">&copy; 2025 Dax Ice Creams. All rights reserved.</p>
    <div class="row">
    <small>
      <a href="/about" class="text-white text-decoration-none me-3">About Us</a>
      <a href="/services" class="text-white text-decoration-none me-3">Services</a>
      <a href="/contact" class="text-white text-decoration-none">Contact</a>
    </small>
    <div class="row">
  </div>
</footer>
