{% extends 'base.html' %}

{% block title %}Our Services{% endblock %}

{% block body %}
<div class="container mt-4">
  <h2 class="text-center mb-4">Our Services</h2>
  
  <div class="row">
    <div class="col-md-4">
      <div class="card bg-light mb-4">
        <div class="card-body">
          <h5 class="card-title">Ice Cream</h5>
          <p class="card-text">We offer a variety of delicious ice creams made from fresh ingredients. From classic vanilla to exotic mango, enjoy your favorite scoop in a cone or cup.</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card bg-light mb-4">
        <div class="card-body">
          <h5 class="card-title">Softy</h5>
          <p class="card-text">Our softy collection includes rich, creamy flavors served in crispy cones. A perfect treat for kids and adults alike!</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card bg-light mb-4">
        <div class="card-body">
          <h5 class="card-title">Family Pack</h5>
          <p class="card-text">Enjoy our family-sized ice cream packs, perfect for celebrations or a weekend treat. Multiple flavors in one box!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <h4>Why Choose Us?</h4>
    <ul>
      <li>Fresh and natural ingredients</li>
      <li>Wide variety of flavors</li>
      <li>Affordable prices</li>
      <li>Friendly customer service</li>
      <li>Home delivery available</li>
    </ul>
  </div>
</div>
{% endblock %}


{% comment %} {% extends "base.html" %}

{% block title %}Services{% endblock title %}


{% block body %}
<div class="container my-2">
<img src="/static/7.jpg" class="d-block w-100" alt="">
</div>

{% endblock body %} {% endcomment %}

